html {
    background-color: #334444;
}

hr {
    border-color: #334444;
}

button {
    font-family: 'Alice', serif;
    text-decoration: none;
}

a {
    text-decoration: underline;
    color: #334444;
}

p,
pre {
    font-size: 14pt;
}

img {
    /* max-width: 90%; */
    max-height: 350px;
}

body {
    font-family: 'Alice', serif;
    color: #334444;
    background-color: #ddc0de;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: #ddc0de;
    font-size: 35pt;
    cursor: pointer;
}

h2 {
    font-size: 25pt;
}

header {
    background-color: #543b6b;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #334444;
    color: #ddc0de;
    margin-top: -25px;
    ;
}

footer h4 {
    padding: 10px;
}

nav li {
    display: inline-block;
    margin: 5px;
}

li a {
    text-decoration: none;
    color: #ddc0de;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

.pagetxt {
    text-align: justify;
}

.page {
    width: 50%;
    height: 700px;
    margin: 50px auto 40px auto;
    padding: 3px 40px 40px 40px;
}

.center {
    text-align: center;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

#input {
    width: 100px;
}

#pageSeeker {
    background-color: #6E2F45;
    color: #ddc0de;
    margin: 0;
    padding-bottom: 10px;
    text-align: right;
}

#next {
    text-decoration: none;
    font-size: 50pt;
    position: fixed;
    top: 50%;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}

#prev {
    text-decoration: none;
    font-size: 50pt;
    position: fixed;
    top: 50%;
    left: 0;
    margin-left: 20px;
    cursor: pointer;
}

@media screen and (max-width:997px) {
    .page {
        width: 50%;
        height: 800px;
        margin: 50px auto 40px auto;
        padding: 3px 40px 40px 40px;
        border: 10px double #334444;
    }
}

@media screen and (max-width:899px) {
    .page {
        width: 60%;
        height: 800px;
        margin: 50px auto 40px auto;
        padding: 3px 40px 40px 40px;
        border: 10px double #334444;
    }
}

@media screen and (max-width:739px) {
    .page {
        width: 70%;
        height: 800px;
        margin: 50px auto 40px auto;
        padding: 3px 40px 40px 40px;
        border: 10px double #334444;
    }
}

@media screen and (max-width:637px) {
    .page {
        width: 70%;
        height: 900px;
        margin: 50px auto 40px auto;
        padding: 3px 40px 40px 40px;
        border: 10px double #334444;
    }
}

@media screen and (max-width:569px) {
    .page {
        width: 70%;
        height: 1100px;
        margin: 50px auto 40px auto;
        padding: 3px 40px 40px 40px;
        border: 10px double #334444;
    }
}

@media screen and (max-width:469px) {
    .page {
        width: 70%;
        height: 1300px;
        margin: 50px auto 40px auto;
        padding: 3px 40px 40px 40px;
        border: 10px double #334444;
    }
}

@media screen and (max-width:395px) {
    .page {
        width: 70%;
        height: 1400px;
        margin: 50px auto 40px auto;
        padding: 3px 40px 40px 40px;
        border: 10px double #334444;
    }
}

@media screen and (max-width:375px) {
    .page {
        width: 70%;
        height: 1500px;
        margin: 50px auto 40px auto;
        padding: 0px 0px 0px 0px;
        border: 0px double #334444;
    }
}

@media screen and (max-width:346px) {
    .page {
        width: 70%;
        height: 1600px;
        margin: 50px auto 40px auto;
        padding: 0px 0px 0px 0px;
        border: 0px double #334444;
    }
}

@media screen and (max-width:332px) {
    .page {
        width: 70%;
        height: 1700px;
        margin: 50px auto 40px auto;
        padding: 0px 0px 0px 0px;
        border: 0px double #334444;
    }
}