html {
    background-color: #334444;
}

hr {
    border-color: #334444;
}

a {
    text-decoration: underline;
    color: #334444;
}

p {
    font-size: 14pt;
}

img {
    /* max-width: 90%; */
    max-height:400px;

}

body {
    font-family: 'Alice', serif;
    color: #334444;
    background-color: #ddc0de;
    margin: 0;
}

h1 {
    color: #ddc0de;
    font-size: 35pt;
    cursor: pointer;
}

h2 {
    font-size: 25pt;
}

header {
    background-color: #543b6b;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #334444;
    color: #ddc0de;
}

footer h4 {
    padding: 10px;
}

nav li {
    display: inline-block;
    margin: 5px;
}

li a {
    text-decoration: none;
    color: #ddc0de;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

.pagetxt {
    text-align: justify;
}

.page {
    width: 50%;
    height:700px;
    margin: 50px auto 40px auto;
    padding: 20px 40px 20px 40px;
    border: 10px double #334444;
   
}

.center {
    text-align: center;
    
    
}

header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

#next {
    text-decoration: none;
    font-size: 50pt;
    position: fixed;
    top: 50%;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}

#prev {
    text-decoration: none;
    font-size: 50pt;
    position: fixed;
    top: 50%;
    left: 0;
    margin-left: 20px;
    cursor: pointer;
}